.browse-container {
  background-color: $color-background;
  overflow-x: hidden;
}

.main-browse-content {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
