.all-genres-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  // border: 1px solid red;
}

.genre-container {
  display: flex;
  flex-direction: column;
}

.genre-item {
  display: flex;
  flex-wrap: wrap;
}
