.video-desc-container {
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.video-desc-main-content {
  position: absolute;
  height: 70%;
  width: 60%;
  padding-top: 400px;
}

.video-info {
  padding: 50px;
}
