.video-desc-container {
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.video-desc-gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.07746848739495793) 0%,
    rgba(0, 0, 0, 0.562062324929972) 53%,
    rgba(0, 0, 0, 0.9066001400560224) 97%
  );
}

.video-desc-main-content {
  position: absolute;
  height: 70%;
  width: 55%;
  padding-top: 325px;
}

.video-desc-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  button {
    background-color: #f9f8f8;
    color: black;
    font-size: 18px;

    &:hover {
      background-color: #c6c6c6;
      transition: all 0.2s ease-in;
    }

    .play-icon {
      padding-right: 12px;
    }
  }
}

.plus {
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 2em;
  border-radius: 50%;
  border: 1px solid white;
  background-color: black;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  bottom: 10%;
  right: 4%;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    color: black;
    background: white;
    border: 1px solid black;
    transition: 0.35s ease-in;
  }
}

.radius {
  border-radius: 50%;
}

.video-info {
  padding: 50px;

  li {
    color: #f9f8f8;

    p {
      color: #f9f8f8;
    }
  }
}
