body {
  background-color: #040615;
  color: white;
}

$color-blue: #0163e4;
$color-light-blue: #016cf9;
$color-light-grey: #c0c0c0;
$color-grey: #4a4f5a;
$color-red: #d1192a;

.add-underline {
  &:hover {
    border-bottom: 1px solid white;
    transition: 0.35s ease-in;
    cursor: pointer;
  }
}
