footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;

  img {
    width: 7%;
    padding: 0.5rem;
  }
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.technologies {
  display: flex;
  justify-content: center;

  li {
    font-size: 12px;
    margin: 0rem 1rem;
    padding: 0rem 1rem;
    cursor: default;

    &:hover {
      color: white;
      transition: 0.35s ease-in;
    }
  }
}

.footer-contact {
  display: flex;
  justify-content: center;

  li {
    font-size: 12px;
    padding: 0rem 1rem;

    &:hover {
      color: white;
      transition: 0.35s ease-in;
    }
  }
}
