

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;

  img {
    width: 150px;
    padding: 1rem;
  }

  .navbar-links {
    padding: 2rem;

    span {
      padding: 1rem;
    }
  }
}

.account {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-size: 16px;
}

.active-profile-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
}

.signup {
  padding: 1rem;
}

.login {
  padding: 1rem;
}

.logout {
  padding: 1rem;
}
