nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  background-color: #0d0e15;
  position: fixed;
  height: 80px;
  z-index: 5;
}

.main-nav {
  display: flex;
  align-items: center;
  z-index: 10;

  img {
    width: 120px;
    padding: 5px 10px;
  }
}

.navbar-links {
  padding: 0px 10px;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      color: white;
    }
  }
}

.nav-icon {
  padding: 0px 5px;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  font-size: 16px;
}

.active-profile-avatar {
  margin-left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
}

.account-info {
  z-index: 10;
  // position: absolute;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding: 12px 20px;
  width: 300px;

  &:hover {
    // background-color: black;
    background-color: black;
    // border: 1px solid $color-grey;
    border-left: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;
    border-right: 1px solid $color-grey;
    border-radius: 3px;
    opacity: 1;
    transition: all 3s ease-in;
    transition: max-height 3s ease-in;
  }
}

.greeting-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.account-menu {
  display: flex;
  flex-direction: column;

  li {
    padding: 5px 15px;
    text-decoration: underline;
    cursor: pointer;
  }
}
.signup {
  padding: 1rem;
}

.login {
  padding: 1rem;
}

.logout {
  padding: 1rem;
}
