// .splash-content {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.splash-main-content {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.35057773109243695) 0%,
      rgba(0, 0, 0, 0.7483368347338936) 90%
    ),
    image-url('splash-home-image');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 100px);
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    background-color: #0163e4;
    text-align: center;
    width: 30%;
    padding: 20px 40px;
    border-radius: 5px;
    margin: 1rem;
  }

  p {
    margin: 1em;
  }

  .media-bundle {
    width: 70%;
  }

  .media-bundle2 {
    width: 50%;
  }
}

.splash-the-way-you-want {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 100px;

  .watch-details {
    padding: 30px;

    h2 {
      font-size: 36px;
      padding: 30px;
    }

    ul > li {
      list-style-type: circle;
      padding: 5px;
    }
  }
}

.splash-side-content {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 5rem;
  border: 1px solid white;
  border-radius: 3px;
  margin-bottom: 100px;

  img {
    height: auto;
    width: 50%;
  }

  aside {
    padding: 3rem;

    p {
      padding: 5px;
    }

    button {
      background-color: #0163e4;
      text-align: center;
      width: 50%;
      padding: 20px 40px;
      border-radius: 5px;
      margin: 1rem;
    }
  }
}

.favorite-devices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  aside {
    padding: 2rem;
    display: flex;

    div {
      padding: 2rem;
    }
  }
}

.FAQ {
}
